.wrapper {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 6px;
}
.wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(139, 134, 134, 0.644);
}
.wrapper::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: #3a3939;
}
